.photo-container {
  border: 2px inset rgb(203, 144, 240);
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  h3 {
    font-size: 20px;
    font-weight: 700;
    color: rgb(167, 100, 230);
  }
  img {
    border-radius: 5px;
  }
  .big-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      border-radius: 25px;
    }
  }
}
