.todos-container {
  border: 2px inset rgb(254, 250, 250);
  border-radius: 5px;
  margin-top: 5px;
  padding: 10px;
  background-color: rgb(135, 100, 135);
  color: #fff;
  input {
    position: relative;
    opacity: 0;
    z-index: 10;
    width: 16px;
    height: 16px;
    margin-left: 10px;
  }
  input ~ label::before {
    content: "\2717";
    text-align: center;
    color: white;
    line-height: 1em;
    width: 1em;
    height: 1em;
    border: 2px inset rgb(254, 250, 250);
    border-radius: 0.25em;
    position: relative;
    left: -20px;
    display: inline-block;
  }
  input:checked ~ label::before {
    content: "\2713";
    color: rgb(235, 34, 141);
    border: 2px inset rgb(235, 34, 141);
  }
}
