<div class="info-container">
  <div class="info-card">
    <h3>{{ user.username }}</h3>
    <p>Name: {{ user.name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Phone: {{ user.phone }}</p>
    <p>Website: {{ user.website }}</p>
    <p>
      Address: {{ user.address.city }}, {{ user.address.street }},
      {{ user.address.suite }}
    </p>
    <button (click)="getPostsByUserId(user.id)">Posts</button>
  </div>
  <div class="user-posts-container">
    <app-user-posts
      class=""
      *ngFor="let post of posts"
      [post]="post"
    ></app-user-posts>
  </div>
</div>
