.user-albums {
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  h3 {
    margin-bottom: 0px;
    color: rgb(144, 74, 188);
  }
  button {
    background-color: rgb(242, 158, 218);
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 0 5px 5px 0 rgb(201, 158, 242);
    border: none;
    color: #fff;
    font-weight: 700;
    margin-top: 10px;
    &:hover {
      box-shadow: 0 5px 5px 0 rgb(226, 204, 247);
      color: blueviolet;
    }
  }
}
